.App {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.header {
  background-color: rgb(234, 230, 230);
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
.header h1 {
  color: orange;
  padding: 0;
  margin: 0;
  font-size: 50px;
}
.header p {
  padding: 0;
  margin: 0;
  font-weight: 1000;
}
.flag {
  width: 200px;
  height: 120px;
}
.flag-div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countries-wrapper {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px 0px;
  margin: 10px 0px;
}
.country-container {
  width: 90%;
  margin: auto;
  background-color: rgb(234, 230, 230);
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  padding: 20px 0px;
}
.input {
  width: 30%;
  /* height: 30px; */
  border-radius: 50px;
  padding: 20px;
  font-size: 30px;
  align-self: center;
}
